html {
  overflow: hidden;
}

body {
	background: linear-gradient(30deg, #db3b0a, #b93b9a, #078b8b, #9846db);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

ul {
    list-style: none;
    margin: 0vh;
}

#Name {
    color:white;
    text-align: center;
    font-size: 10vh;
    font-family: Ganymede;
}

#Description {
    color: white;
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
    font-family: Bricemont;
    margin-top: -8vh;
}

.rowheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
  
.circleimg {
    float: right;
    width: 36vh;
    height: 36vh;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-top: 4vh;
    margin-right: 3vh;
}

.iconlist {
    display: flex;
    flex-direction: row;
    margin-left: 3vh;
}

.links {
    padding: 0vh;
    margin-top: 4vh;
}

.icon {
    height: 12vh;
    transform: none;
    transition: transform 0.25s ease;
    width: auto;
    filter: brightness(0) invert(1);
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.25s ease;
    width: auto;
    filter: none;
}

@media screen and (max-width: 712px) {
    .rowheader {
        flex-direction: column;
    }
    .circleimg {
        margin-right:0vh;
    }
    .links {
        padding: 0vh;
        margin-left: 0vh;
        margin-top: 0vh;
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    .iconlist {
        flex-wrap: wrap;
        margin-top: 3.5vh;
        margin-left: 0vh;
    }
}

@font-face {
    font-family: Ganymede;
    src: url(fonts/ganymede.ttf);
}

@font-face {
    font-family: Bricemont;
    src: url(fonts/Bricemont.ttf);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
