/* DEFAULTS */

html {
    overflow: auto;
}

body {
	background: linear-gradient(30deg, #db3b0a, #b93b9a, #078b8b, #9846db);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

ul {
    list-style: none;
    margin: 0vh;
}

/* IDs */

/* Username */
#Name {
    color: white;
    text-align: center;
    font-size: 10vh;
    font-family: Ganymede;
}

/* Description */
#Description {
    color: white;
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
    font-family: Bricemont;
    margin-top: -8vh;
}

/* CLASSES */

/* Containes profile picture and social media links */
.rowheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}
  
/* Rounds the profile picture */
.circleimg {
    float: right;
    width: 36vh;
    height: 36vh;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-right: 3vh;
}

/* Contains all the icons for social media links */
.iconlist {
    display: flex;
    flex-direction: row;
    margin-left: 3vh;
}

/* List for the links */
.links {
    padding: 0vh;
}

/* Icon image filtered to be white unless hovered */
.icon {
    height: 12vh;
    transform: none;
    transition: transform 0.25s ease;
    width: auto;
    filter: brightness(0) invert(1);
}
.icon:hover {
    transform: scale(1.2);
    transition: transform 0.25s ease;
    width: auto;
    filter: none;
}

/* Contains the name list for miscellaneous stuff */
.contsel {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

/* Each of the individual containers for the text */
.select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Atiba;
    font-size: 5vh;
    color: white;
    gap: 3vh;
}

/* Remove default margin */
.nomargin {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* Font for the arrows which looks better */
.arrowfont {
    font-family: Ganymede;
}

/* Animation that contracts/expands the arrows and text */
.textsel {
    width: min-content;
    transform: none;
    transition: transform 0.25s ease, gap 0.25s ease;
    cursor: pointer;
}
.textsel:hover {
    gap: 1vh;
    transform: scale(0.95);
    transition: gap 0.25s ease;
}

/* Color for "Backlog" */
.backlog:hover {
    color: #BADEFC;
}

/* Color for "Projects" */
.project:hover {
    color: #8DE0C5;
}

/* Changes the orientations when its a mobile sized view */
@media screen and (max-width: 712px) {
    .rowheader {
        flex-direction: column;
    }
    .circleimg {
        margin-right: 0vh;
    }
    .links {
        padding: 0vh;
        margin-left: 0vh;
        margin-top: 0vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .iconlist {
        flex-wrap: wrap;
        margin-top: 3.5vh;
        margin-left: 0vh;
    }
}

/* Background Gradient */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FONT IMPORTS */

@font-face {
    font-family: Ganymede;
    src: url(fonts/Ganymede.ttf);
}
@font-face {
    font-family: Bricemont;
    src: url(fonts/Bricemont.ttf);
}
@font-face {
    font-family: Atiba;
    src: url(fonts/Atiba.ttf);
}
