/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* DEFAULTS */

html {
    overflow: auto;
}

body {
	background: linear-gradient(30deg, #db3b0a, #b93b9a, #078b8b, #9846db);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* IDs */

#ytdlphandler {
    font-family: VCR;
    color: #B34438;
}

#spacehell {
    font-family: Strasua;
    color: #DACECE;
}

#gochat {
    font-family: Moliga;
    color: #00AEDB;
}

/* CLASSES */

/* Animates each title for the projects */
.projtitle {
    font-size: 7vh;
    text-shadow: 0.5vh 0.5vh 1vh black;
    transition: transform 0.25s ease
}
.projtitle:hover {
    transition: transform 0.25s ease;
    transform: scale(1.05)
}

/* Go to the main page icon */
.home {
    cursor: pointer;
    position: absolute;
    float: left;
    width: 7vh;
    height: auto;
    filter: brightness(0) invert(1);
    transition: transform 0.25s ease;
}
.home:hover {
    transition: transform 0.25s ease;
    transform: scale(1.15);
}

/* Box containing each project */
.projbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/* Description for each project */
.description {
    margin-top: -3vh;
    margin-bottom: 4vh;
    font-family: Exo;
    color: black;
    font-size: 3vh;
    line-height: 3.5vh;
}

/* Screenshot container for each project */
.imgbox {
    display: grid;
    height: 100%;
}

/* Actual screenshot */
.screenshot {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    filter: drop-shadow(1vh 1vh 1vh)
}

/* Separator line */
.line {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/* Background Gradient */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FONT IMPORTS */

@font-face {
    font-family: Moliga;
    src: url(fonts/Moliga.otf);
}
@font-face {
    font-family: VCR;
    src: url(fonts/VCR.ttf);
}
@font-face {
    font-family: Exo;
    src: url(fonts/Exo.ttf);
}
@font-face {
    font-family: Strasua;
    src: url(fonts/Strasua.otf);
}
